/*
全局css
 */
.main {
    -fx-background-color: honeydew;
    -fx-border-radius: 100;
}

/*
好友列表昵称
 */
.nickName {
    -fx-padding: 5 10;
    -fx-text-fill: #111111;
    -fx-font-family: 'Microsoft YaHei UI Light';
    -fx-font-size: 20;
    -fx-font-weight: 100
}

/*
消息编辑区
 */
#messageEditArea .scroll-pane {
    -fx-vbar-policy: never;
}

/*
个性签名
 */
.signature {
    -fx-padding: 10 10;
    -fx-text-fill: #aaaaaa;
    -fx-font-family: 'Microsoft YaHei UI Light';
    -fx-font-size: 15
}
/*
头像
 */
.friendAvatar  {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}

/*
消息载体
 */
.stringMessage {
    -fx-wrap-text: true;
}
.stringMessage .scroll-pane{
    -fx-vbar-policy: never;
}

/*
好友列表
 */
.friendScrollPane .scroll-bar{
    -fx-vbar-policy: inherit;
}