.messageShowArea {
    -fx-background-color: transparent;
    /*-fx-padding: 0;*/
    /*-fx-border-insets: 0;*/
}
.sendButton {

}
.scroll-bar {
    -fx-background-color: ghostwhite;
}


.messageCell {
    -fx-background-color: white;
}
.main {
    -fx-background-color: honeydew;
    -fx-border-radius: 100;
}

.friendList .list-cell {
    -fx-padding: 0px;
}
