.btn{
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 50%;
    -fx-background-image: url("../icon/ht.png");
    -fx-background-size: 75;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}